[default]
index = {{ splunk_forwarder_index }}

{% for log in splunk_forwarder_logs %}
[monitor:{{ log.path }}]
{% if log.index is defined %}
index = {{ log.index }}
{% endif %}

{% endfor %}

{{ splunk_forwarder_verbatim }}
